Package: libgstreamer1.0-dev
Source: gstreamer1.0
Version: 1.16.2-2
Architecture: amd64
Maintainer: Maintainers of GStreamer packages <gstreamer1.0@packages.debian.org>
Installed-Size: 6697
Depends: libgstreamer1.0-0 (= 1.16.2-2), libc6-dev | libc-dev, pkg-config, libglib2.0-dev, libc6 (>= 2.4), libglib2.0-0 (>= 2.40), gir1.2-gstreamer-1.0 (= 1.16.2-2)
Recommends: debhelper
Suggests: gstreamer1.0-doc
Conflicts: libgstreamer-plugins-bad1.0-dev (<< 1.13.1)
Replaces: libgstreamer-plugins-bad1.0-dev (<< 1.13.1)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://gstreamer.freedesktop.org
Description: GStreamer core development files
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This package contains development files for the core library and
 elements.
