Package: gstreamer1.0-tools
Source: gstreamer1.0
Version: 1.16.2-2
Architecture: amd64
Maintainer: Maintainers of GStreamer packages <gstreamer1.0@packages.debian.org>
Installed-Size: 1407
Depends: libc6 (>= 2.14), libglib2.0-0 (>= 2.40), libgstreamer1.0-0 (>= 1.16.1)
Suggests: gstreamer1.0-plugins-base
Section: utils
Priority: optional
Homepage: https://gstreamer.freedesktop.org
Description: Tools for use with GStreamer
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This package contains versioned command-line tools for GStreamer.
