Package: gir1.2-gstreamer-1.0
Source: gstreamer1.0
Version: 1.16.2-2
Architecture: amd64
Maintainer: Maintainers of GStreamer packages <gstreamer1.0@packages.debian.org>
Installed-Size: 1427
Depends: gir1.2-glib-2.0 (>= 0.9.12-4~), libgstreamer1.0-0 (>= 1.16.0)
Section: introspection
Priority: optional
Multi-Arch: same
Homepage: https://gstreamer.freedesktop.org
Description: GObject introspection data for the GStreamer library
 This package contains introspection data for the GStreamer streaming media
 framework.
 .
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 It can be used by packages using the GIRepository format to generate
 dynamic bindings.
