Package: gstreamer1.0-doc
Source: gstreamer1.0
Version: 1.16.2-2
Architecture: all
Maintainer: Maintainers of GStreamer packages <gstreamer1.0@packages.debian.org>
Installed-Size: 11017
Depends: libglib2.0-doc
Recommends: libgstreamer1.0-dev (= 1.16.2-2)
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: https://gstreamer.freedesktop.org
Description: GStreamer core documentation and manuals
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This package contains documentation for core libraries and elements as
 well as:
  * the GStreamer Manual
  * the GStreamer Plugin Writers Guide
  * Various API docs
